---
import Image from '@/components/Image.astro'
interface Props {
  description: string;
  icon: string;
  name: string;
  twitterLink?: string;
}

const { description, icon, name, twitterLink } = Astro.props
const LinkWrapper = twitterLink ? 'a' : 'div'
const ImageWrapper = icon.startsWith('http') ? 'img' : Image
---

<div class="bg-white flex flex-col rounded-xl max-w-[400px] min-w-[200px]">
  <LinkWrapper class="flex flex-row items-center m-4" href={twitterLink} >
    <ImageWrapper alt={name} class="w-12 h-12 rounded-full" src={icon} />
    <p class="mx-2 text-lg font-bold my-auto">{name}</p>
  </LinkWrapper>
  <p class="text-left mx-4 mb-4" set:html={description} />

</div>
